#chat_widget {
    background-color: var(--movim-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main:not(.enabled) #chat_widget {
    overflow-y: auto;
}

#chat_widget > div,
#chat_widget > header {
    max-width: 100%;
    width: 100%;
}

#chat_widget > header p.active:hover {
    cursor: pointer;
}

#chat_widget p.compose:not(:empty),
#chat_widget p.compose:empty + p {
    animation: fadein 0.3s;
}

#chat_widget p.compose:not(:empty) + p {
    display: none;
}

#chat_widget .contained {
    overflow-y: scroll;
    height: 100%;
}

#chat_widget .contained section {
    padding-bottom: 1rem;
    max-width: 100rem;
    margin: 0 auto;
}

/* Chat attach list */
#chat_widget ul.list.actions {
    right: 0;
    padding: 1rem 0;
    position: absolute;
    transform: translate(-1rem, -100%);
}

/* Chat box */

#chat_widget .chat_box {
    background-color: rgba(var(--movim-background-main), 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#chat_widget .chat_box ul {
    margin: 0;
    max-width: 100%;
}

#chat_widget .chat_box.compose ul.list li > .control.upload ~ form,
#chat_widget .chat_box form {
    margin-right: 5rem;
    padding-left: 7rem;
    padding-right: 1rem;
}

#chat_widget .chat_box form > div {
    min-height: 0;
}

#chat_widget .chat_box form textarea {
    padding: 0 0 1rem;
    margin-top: 3rem;
    margin-bottom: -0.5rem;
    max-height: 50vh;
    overflow-y: auto;
}

#chat_widget .chat_box span.primary,
#chat_widget .chat_box span.control:not(.button) {
    font-size: 3.5rem;
    color: rgba(var(--movim-font), 0.68);
}

#chat_widget .chat_box span.primary {
    left: 0.5rem;
}

#chat_widget .chat_box span.control:not(.button) i {
    font-size: inherit;
}

#chat_widget .chat_box span.control:hover {
    cursor: pointer;
    color: rgba(var(--movim-font), 0.54);
}

#chat_widget .chat_box span.control.send.sending {
    animation: loadingopacity 1s infinite alternate;
}

#chat_widget .chat_box > ul.list > li {
    padding: 0.01rem 0;
}

#chat_widget .chat_box > ul.list > li > .control.control.send {
    right: 0;
}
#chat_widget .chat_box > ul.list > li > .control.attach {
    transition: transform 0.3s;
}

#chat_widget .chat_box > ul.list > li > .control.attach.enabled {
    transform: rotate(45deg);
}

#chat_widget .chat_box.compose > ul.list > li > ul.list.actions,
#chat_widget .chat_box > ul.list > li > .control.attach:not(.enabled) ~ ul.list.actions,
#chat_widget .chat_box:not(.compose) > ul.list > li > .control.attach ~ .control.send,
#chat_widget .chat_box.compose > ul.list > li > .control.attach ~ .control:not(.send),
#chat_widget .chat_box.compose > ul.list > li > .control:not(.send) {
    display: none;
}

@media screen and (max-width: 1024px) {
    #chat_widget .chat_box {
        left: 0;
        width: 100%;
    }
}

#chat_widget section ul.list li span.primary.icon.bubble {
    left: 1rem;
}

#chat_widget section ul.list li.oppose span.control.icon.bubble {
    right: 1rem;
}

#chat_widget .contained ul {
    overflow-x: hidden;
}

/* Emojis */
#chat_widget .chat_box .emojis:not(:empty) {
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: -0.75rem;
    max-height: 10.5rem;
    overflow: hidden;
}

#chat_widget .chat_box .emojis img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 0;
}

#chat_widget .chat_box .emojis img:hover,
#chat_widget .chat_box .emojis img.selected {
    cursor: pointer;
    background-color: rgba(var(--movim-font), 0.05);
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
}

/* Chatroom */

#chat_widget ul.simple {
    padding-left: 2rem;
}

#chat_widget div:not(.chat_box) li span.icon:not(.thumb) { /** .thumb is for cards **/
    top: 3.25rem;
}

#chat_widget li img:not(.emoji):not(.hfr) {
    max-height: 30rem;
    max-width: 100%;
    display: block;
}

#chat_widget li div.bubble.sticker.file img.active:hover {
    cursor: pointer;
}

#chat_widget li div.bubble.sticker img:not(.emoji):not(.hfr) {
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    width: auto;
    max-height: 150px;
}

#chat_widget li div.bubble.sticker.file img:not(.emoji):not(.hfr) {
    max-height: 170px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

#chat_widget ul.list:after {
    content: " ";
    display: block;
    clear: both;
}

#chat_widget .contained.muc ul li span.primary:not(:empty):hover {
    cursor: pointer;
}

#chat_widget .contained:not(.muc) ul li.oppose + li.oppose > span.icon,
#chat_widget .contained:not(.muc) ul li.oppose + li.oppose .bubble::before,
#chat_widget .contained:not(.muc) ul li:not(.oppose):not(.separator):not(.date) + li:not(.oppose) > span.icon,
#chat_widget .contained:not(.muc) ul li:not(.oppose):not(.separator):not(.date) + li:not(.oppose) .bubble::before {
    display: none;
}

#chat_widget .contained section > ul > li {
    animation: fadein 0.2s;
}

#chat_widget ul ~ .placeholder {
    display: none;
}

#chat_widget ul:empty ~ .placeholder.show {
    display: block;
    animation: fadein 1s;
}

table.emojis td {
    width: 10%;
    text-align: center;
    padding: 1rem 0;
}

#chat_widget .primary_action:hover,
table.emojis td:hover {
    cursor: pointer;
    background-color: rgba(var(--movim-font), 0.05);
    border-radius: 0.5rem;
}

#chat_widget div.quoted {
    border-right: 4px solid rgb(var(--movim-main));
}

/* File preview */

#chat_widget div.file:not(.bubble) {
    word-break: break-all;
}

#chat_widget div.file:not(.bubble) a {
    padding: 1rem 0;
}

#chat_widget div.file:not(.bubble) span.size {
    display: inline-block;
}

#chat_widget div.file:not(.bubble) p + span.size:before {
    content: '–';
    margin: 0 0.75rem;
}

#chat_widget audio {
    border-radius: 0.5rem;
    width: 100%;
    min-width: 23rem;
}

/* Emojis */

#chat_widget .bubble ul.reactions {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 0.1rem 0 0.3rem;
}

#chat_widget .bubble div span.reaction,
#chat_widget .bubble div span.actions,
#chat_widget .bubble ul.reactions li {
    list-style-type: none;
    background-color: rgba(var(--movim-font), 0.1);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    line-height: 3rem;
    font-size: 1.75rem;
    margin: 0;
    margin-top: 0.25rem;
    display: inline-flex;
    z-index: 1;
    border: solid 1px transparent;
}

#chat_widget .bubble div span.reaction,
#chat_widget .bubble div span.actions,
#chat_widget .bubble ul.reactions:empty {
    display: none;
}

#chat_widget li:not(.oppose) .bubble div:hover ul.reactions:empty + span.reaction,
#chat_widget li.oppose .bubble:not(.sticker) div:hover span.actions {
    display: inline-flex;
    position: absolute;
    left: 100%;
    transform: translate(-2.4rem, -0.5rem);
}

#chat_widget li.oppose .bubble:not(.sticker) div:hover span.actions {
    transform: translate(-9.45rem, -0.5rem);
}

#chat_widget li:not(.oppose) .bubble.sticker div:hover ul.reactions:empty + span.reaction {
    transform: translate(-1.55rem, -3.75rem);
}
#chat_widget .bubble ul.reactions li:not(:last-child) {
    margin-right: 0.5rem;
}

#chat_widget .bubble div span.reaction:hover,
#chat_widget .bubble div span.actions:hover,
#chat_widget .bubble ul.reactions li:hover {
    cursor: pointer;
    background-color: rgba(var(--movim-font), 0.2);
}

#chat_widget .bubble ul.reactions li.reacted {
    border-color: rgba(var(--movim-font), 0.3);
    box-sizing: border-box;
}

#chat_widget .bubble ul.reactions li img {
    width: 2.25rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
}

/* Card */

#chat_widget .bubble ul.card.list {
    max-width: 55rem;
}