.on_android {
    display: inherit;
}

body > nav,
main > * {
    padding-top: 3rem;
}

.drawer + .drawer_close.button.color {
    top: 3rem;
}

body .drawer {
    top: 10rem;
    height: calc(100% - 10rem);
}

body ul.context_menu {
    top: 3rem;
}

body #draw,
body #snap {
    height: calc(100% - 3rem);
    top: 3rem;
}

body #preview {
    height: calc(100% - 3rem);
    top: 3rem;
}


@media screen and (max-width: 1024px) {
    main.slide > div:first-child:nth-last-child(2),
    main.slide > div:first-child:nth-last-child(2) + div {
        height: calc(100% - 3rem);
    }

}