<?php $this->widget('Search');?>
<?php $this->widget('Notification');?>
<?php $this->widget('VisioLink');?>
<?php $this->widget('Stickers');?>
<?php $this->widget('Notifications');?>

<nav class="color dark">
    <?php $this->widget('Presence');?>
    <?php $this->widget('Navigation');?>
</nav>

<?php $this->widget('BottomNavigation');?>

<main class="slide">
    <?php $this->widget('Upload');?>
    <?php $this->widget('Chat');?>
    <?php $this->widget('ChatActions');?>
    <div>
        <?php $this->widget('Chats');?>
        <?php $this->widget('Rooms');?>
    </div>
</main>

<?php $this->widget('Snap');?>
<?php $this->widget('Draw');?>
<?php $this->widget('RoomsExplore');?>